@charset "UTF-8";
@font-face {
  font-family: "Inter-VariableFont_opsz,wght";
  font-family: "Merriweather-Light";
  src: url(assets/fonts/Inter-VariableFont_opsz,wght.ttf);
  src: url(assets/fonts/Merriweather-Light.ttf);
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  background: url(../images/bg.jpg);
  background-size: cover; /* L'image couvre tout l'écran */
  background-attachment: fixed; /* L'image reste fixe lors du défilement */
  background-repeat: no-repeat; /* Pas de répétition de l'image */
  background-position: center;
}

@font-face {
  font-family: "Inter-VariableFont_opsz,wght", "Merriweather-Light";
  src: url(assets/fonts/Inter-VariableFont_opsz,wght.ttf);
  src: url(assets/fonts/Merriweather-Light.ttf);
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  background: url(../images/bg.jpg);
  background-size: cover; /* L'image couvre tout l'écran */
  background-attachment: fixed; /* L'image reste fixe lors du défilement */
  background-repeat: no-repeat; /* Pas de répétition de l'image */
  background-position: center;
}

h1 {
  color: white;
}

.button {
  background: none;
  font-size: 0.9rem;
  padding: 15px 40px;
  font-weight: 600;
  font-family: Inter-VariableFont_opsz, wght, serif;
  text-transform: uppercase;
  cursor: pointer;
}
.button:hover {
  background: black;
  color: aliceblue;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.button {
  background: none;
  font-size: 0.9rem;
  padding: 15px 40px;
  font-weight: 600;
  font-family: Inter-VariableFont_opsz, wght, serif;
  text-transform: uppercase;
  cursor: pointer;
}
.button:hover {
  background: black;
  color: aliceblue;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 300px 150px 0px 150px;
  height: 100vh;
}
header div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header div h1 {
  color: white;
  font-family: Inter-VariableFont_opsz, wght, sans-serif;
  font-size: 5rem;
  text-align: center;
  text-transform: uppercase;
  padding: 0 350px;
  font-weight: 700;
  letter-spacing: 8px;
}
header div p {
  color: white;
  font-family: Merriweather-Light, sans-serif;
  font-style: italic;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 70px;
}
header div .arrow {
  height: 74px; /* Ajusté pour inclure le padding */
  width: 74px; /* Largeur et hauteur égales pour un cercle parfait */
  color: white;
  border: 2px solid white; /* L'épaisseur de la bordure */
  border-radius: 50%; /* Rend l'élément parfaitement rond */
  padding: 10px; /* Espace intérieur */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; /* Pour centrer la flèche */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; /* Alignement vertical */
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; /* Alignement horizontal */
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 1.5rem; /* Inclure la bordure et le padding dans les dimensions */
}
header nav {
  background: rgba(245, 245, 245, 0.193);
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 85%;
  position: absolute;
  bottom: 0;
}
header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}
header nav li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header nav .social {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 45px 0 0px;
}
header nav .social li {
  font-size: 2.2rem;
}
header nav .social li a {
  color: rgb(255, 255, 255);
}
header nav .social li a:hover {
  scale: 1.5;
  -webkit-transition: scale 0.3s ease;
  transition: scale 0.3s ease;
}
header nav .choices {
  padding: 0 45px 0 0;
}
header nav .choices li {
  font-family: Inter-VariableFont_opsz, wght, sans-serif;
  text-transform: uppercase;
  color: rgb(97, 96, 96);
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 600;
  padding: 0 40px;
}
header nav .choices li a {
  width: 100%;
  color: rgb(255, 255, 255);
}
header nav .choices li:hover {
  background: rgb(255, 255, 255);
}
header nav .choices li:hover a {
  color: #2e2e2e;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

@font-face {
  font-family: "Inter-VariableFont_opsz,wght";
  font-family: "Merriweather-Light";
  src: url(assets/fonts/Inter-VariableFont_opsz,wght.ttf);
  src: url(assets/fonts/Merriweather-Light.ttf);
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  background: url(../images/bg.jpg);
  background-size: cover; /* L'image couvre tout l'écran */
  background-attachment: fixed; /* L'image reste fixe lors du défilement */
  background-repeat: no-repeat; /* Pas de répétition de l'image */
  background-position: center;
}

@font-face {
  font-family: "Inter-VariableFont_opsz,wght", "Merriweather-Light";
  src: url(assets/fonts/Inter-VariableFont_opsz,wght.ttf);
  src: url(assets/fonts/Merriweather-Light.ttf);
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  background: url(../images/bg.jpg);
  background-size: cover; /* L'image couvre tout l'écran */
  background-attachment: fixed; /* L'image reste fixe lors du défilement */
  background-repeat: no-repeat; /* Pas de répétition de l'image */
  background-position: center;
}

h1 {
  color: white;
}

.button {
  background: none;
  font-size: 0.9rem;
  padding: 15px 40px;
  font-weight: 600;
  font-family: Inter-VariableFont_opsz, wght, serif;
  text-transform: uppercase;
  cursor: pointer;
}
.button:hover {
  background: black;
  color: aliceblue;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.button {
  background: none;
  font-size: 0.9rem;
  padding: 15px 40px;
  font-weight: 600;
  font-family: Inter-VariableFont_opsz, wght, serif;
  text-transform: uppercase;
  cursor: pointer;
}
.button:hover {
  background: black;
  color: aliceblue;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}/*# sourceMappingURL=index.css.map */